<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="../style/output.css">
    <!-- <link rel="stylesheet" href="/style/output.css"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <style>
        .child{
            animation: scrolling 6s linear infinite;
        }

        .child img {
            height: 6rem;
            margin-right: 2rem;
        }

        .child img:hover {
            fill: red;
        }

        @keyframes scrolling {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(-100%);
            }
        }

        @media (min-width: 600px) {
            .child img {
                height: 10rem;
                margin-right: 8rem;
            }
        }

        
    </style>

</head>
<body class="bg-slate-900">
    <nav class="bg-slate-600 w-10 h-10 flex items-center justify-center rounded-full m-4">
        <a class="text-slate-100 hover:text-slate-700 transition duration-200" href="/profile/1">
            <i class="fa fa-user" aria-hidden="true"></i>
        </a>
    </nav>


    <main class="w-full text-center my-6 p-3">
        <h1 class="text-4xl md:text-6xl my-6 font-bold bg-gradient-to-tr from-slate-800 via-slate-400 to-slate-100 text-transparent bg-clip-text md:mb-20 dashboard"></h1>

        <div class="my-8 w-full shadow-xl bg-slate-300 p-3 rounded-md border-2 border-slate-500 flex flex-col">
            <h3 class="text-2xl h-16 mb-6 text-slate-700 font-bold bg-gradient-to-r from-slate-200 via-gray-600 to-slate-400 text-transparent bg-clip-text shadow md:text-3xl md:m-4">Made with</h3>

            <div class="dad overflow-hidden flex items-center p-3 bg-slate-400 border-4 border-slate-900 rounded-xl">
                <div class="flex gap-6 md:gap-20 p-1 child flex-shrink-0">
                    <img class="md:w-1/2 grayscale opacity-70 hover:grayscale-0 hover:opacity-100 transition duration-300" src="../img/docker.svg" alt="">
                    <img class="md:w-1/2 grayscale opacity-70 hover:grayscale-0 hover:opacity-100 transition duration-300" src="../img/javascript.svg" alt="">
                    <img class="md:w-1/2 grayscale opacity-70 hover:grayscale-0 hover:opacity-100 transition duration-300" src="../img/tailwindcss.svg" alt="">
                    <img class="md:w-1/2 grayscale opacity-70 hover:grayscale-0 hover:opacity-100 transition duration-300" src="../img/mongodb.svg" alt="">
                    <img class="md:w-1/2 grayscale opacity-70 hover:grayscale-0 hover:opacity-100 transition duration-300" src="../img/hapijs.svg" alt="">
                </div>
            </div>
        </div>

    </main>

    <section class="my-5 p-5">
        <h1 class="text-center text-3xl md:text-5xl font-bold bg-gradient-to-l from-slate-700 via-slate-400 to-slate-100 bg-clip-text text-transparent mb-5">About</h1>

        <div class="w-full p-3 text-center">
            <p class="font-bold bg-gradient-to-r from-slate-400 to-slate-200 text-transparent bg-clip-text">This web made for practice, especially for train my web programming skill.</p>
            <p class="font-bold bg-gradient-to-r from-slate-400 to-slate-200 text-transparent bg-clip-text">So enjoy guys, up problem solving skill by searching flag.</p>
        </div>
    </section>

    <footer class="h-9 mt-10 md:mt-20 bg-slate-50 flex items-center p-2  justify-around">
        <p class="text-xs font-bold bg-gradient-to-l from-slate-950 to-slate-500 bg-clip-text text-transparent">Copyright&copy2024</p>
        <p class="text-xs font-bold bg-gradient-to-r from-slate-950 to-slate-500 bg-clip-text text-transparent">made by me with <span class="text-white">☕</span></p>
    </footer>


    <script>
        const stack = document.querySelector('.child').cloneNode(true)
        document.querySelector('.dad').appendChild(stack)


        const abjad = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!?.,1234567890 "
        const words = 'Dashboard'
        const textNya = document.querySelector('.dashboard')

        let index = 0

        const acak = (target, asli) => {
            let i = 0

           const interval = setInterval(() => {
                if (i >= 10){
                    clearInterval()
                    target.innerText = asli
                } else {
                    target.innerText = abjad[Math.floor(Math.random() * abjad.length)]
                    i++
                }
           }, 20)
        } 

        const implement = () => {

            if(index < words.length){

                const span = document.createElement('span')
                textNya.appendChild(span)
                acak(span, words[index])
                index++
                setTimeout(implement, 100)
                
            }
            
        }

        implement()

        
    </script>
</body>
</html>