<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form id="loginForm">

        <div class="inputan">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div class="inputan">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit">Login</button>
        
    </form>

    <div class="code">
        <br>
        <code>
            const matching = password === password
        </code>
        <h3>Instead</h3>
        <code>
            const matching = password === user.password
        </code>
    </div>

    <!-- what are you looking for ?🦖 -->

<script>
    document.querySelector('#loginForm').addEventListener('submit', async (e) => {
        e.preventDefault();

        const username = document.querySelector('#username').value;
        const password = document.querySelector('#password').value;

        const response = await fetch('/fake-login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username, password })
        });

        const result = await response.json();

        if (result.status == 'success') {
            alert(result.message);
            window.location.href = result.redirect;
        } else {
            alert(result.message);
        }
    });
</script>
</body>
</html>
