<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">

        <div class="inputan">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="inputan">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit">Login</button>
        
    </form>

    <!-- my scar OR true ?🦖 -->

<script>
    
    document.querySelector('form').addEventListener('submit', async (e) => {
        e.preventDefault()

        const email = document.querySelector('#email').value
        const password = document.querySelector('#password').value

        const response = await fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({email, password})
        })

        const result = await response.json()

        if(result.status == 'success'){
            alert(result.message)
            window.location.href = result.redirect
        } else {
            alert(result.message)
        }


        
    })
    
</script>
</body>
</html>