<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I like that</title>
    <link rel="stylesheet" href="../style/output.css">
    <!-- <link rel="stylesheet" href="/style/output.css"> -->
</head>
<body>
    <main class="h-screen flex flex-col">
        <h1>Nasi goreng ku</h1>
        <img class="w-1/2" src="../img/nasgorr.jpg" alt="">
        <p>Oh betapa indahnya nasi gorengku, balutan hacuhhh..... pilek</p>
    </main>


    <!-- what about the exif sir 🔍 -->
</body>
</html>