<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I like that</title>
    <!-- <link rel="stylesheet" href="../style/output.css"> -->
    <link rel="stylesheet" href="/style/output.css">
</head>
<body>
    <main class="w-full h-screen flex flex-col p-2 bg-slate-700 text-slate-100 items-center justify-center">
        <h1 class="font-bold text-3xl">Nasi goreng ku</h1>
        <div class="w-full sm:w-1/4 rounded-full my-8 h-1/2 flex items-center justify-center border-2 border-slate-400 ">
          <img class="w-8/12 rounded-full border-4 border-slate-400" src="../img/nasgorr.jpg" alt="">
        </div>
        <p class="text-center font-serif italic">Oh betapa indahnya nasi gorengku, balutan hacuhhh..... pilek</p>
    </main>


    <!-- what about the exif sir 🔍 -->
</body>
</html>