<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>

    <!-- <link rel="stylesheet" href="../style/output.css"> -->
    <link rel="stylesheet" href="/style/output.css">
</head>
<body class="bg-slate-800 text-slate-100 p-2">
    
    <h1 class="text-center text-4xl mt-4 font-bold shadow-xl">Profile</h1>
    <ul class="w-1/2 p-6 text-left bg-slate-700 mx-auto my-5 rounded-xl border-slate-300 border-2">
        <li>ID: <%= id %></li>
        <li>Name: <%= user.name %></li>
        <li>NIK: <%= user.nik %></li>
    </ul>

    <% if (id == 2) { %>
     <h2 class="text-center">Harga nasgor 50k</h2>
    <% } %>

    <% if (id == 3) { %>
     <h3 class="text-slate-800 text-center text-xs">di id 50 keknya</h3>
    <% } %>

    <% if (id == 50) { %>
     <h3 style="text-align: center">U R so cool bro congrats</h3>
     <p class="text-center font-bold">Oops</p>

     <!-- there is a secret path in javascript -->

     <script>
        // run this code
        const x = "nigol-terces/"

        let y = ""

        for (let i = x.length; i >= 0; i--){
            y += x[i]
        }

        console.log(y)


        
     </script>
    <% } %>
    
</body>
</html>