<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Login</title>
</head>
<body>
    
    <!-- Maybe it is clue🍜 -->
     <div class="header">
        <img src="/public/img/rock.jpg">
        <h1>You 👉</h1>
     </div>


     <form action="/secret-login/bingo" method="post">

     </form>


     
    

    <!-- pake hydra username nya sediain nanti passwd nya di rockyou letaknya -->
</body>
</html>